# Dependencies
/vendor/
node_modules/

# Laravel caches & build
/.phpunit.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.phpunit.result.cache
.phpactor.json

# Environment files
.env
.env.backup
.env.production

# Editor / IDE configs
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Laravel / Homestead / Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# Logs & debug
npm-debug.log
yarn-error.log

# Old Laravel 4 / 5 specifics
bootstrap/compiled.php
app/storage/

# Alternate public path support
public_html/storage
public_html/hot

# Auth / credentials
auth.json
